/* ! tablet: dai 768px in giù */
@media screen and (max-width: 1160px) {
    /* Per togliere la scrolbar orizzontale */
    .container{
        width: 760px;
    }
    
}
@media screen and (max-width: 768px) {
    /* Avvicinare i cntenuti */
    .container{
        width: 100vw;
    }
    
}

/* ! mobile: dai 576px in giù */

@media screen and (max-width: 576px) {

    /* Dimminuzione container */
    .container{
        width: 100vw;
    }
    /* Mettere elementi uno sopra l'altro */
    .row{
        display: block;
        padding-bottom: 3rem;
    }

    .lessons .col,
    .steps .col,
    .why-us .col-left,
    .why-us .col-right{
        width: 90%;
    }

    /* Centrare il container */
    *,
    *::before,
    *::after {
	margin: 0 auto;
    }
    .why-us{
        background-color: black;
        padding-top: 3rem;
    }

    .steps{
        margin: 0;
    }
}