.container{
    width: 100%;
    max-width: 1140px;
}
/* ! mobile: dai 576px in giù */

@media screen and (max-width: 576px) {

    /* Dimminuzione container */
    .container{
        width: 100vw;
    }
    /* Mettere elementi uno sopra l'altro */
    .row{
        display: block;
        padding-bottom: 3rem;
    }

    .lessons .col,
    .steps .col,
    .why-us .col-left,
    .why-us .col-right{
        width: 90%;
    }

    /* Centrare il container */
    *,
    *::before,
    *::after {
	margin: 0 auto;
    }
    .why-us{
        background-color: black;
        padding-top: 3rem;
    }

    .steps{
        margin: 0;
    }
}